body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    background-color: rgb(226, 226, 226);
}

#navBar{
    flex-direction: column;
    text-align: center;
    background-color: rgb(84, 96, 165);
    height: 40px;
}

#navBar p{
    margin: 0px;
    padding-top: 10px;
    color: white;
}

#principal{
    display: flex;
}

#menu{
    flex-direction: column;
    width: 10%;
    margin: 0px;
    min-height: 100vh;
    padding-left: 20px;
    padding-top: 20px;
}

#menu h3{
    margin: 0px;
}

#menu p{
    margin: 0px;
}

.categorias{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.items{
    width: 85%;
}

#contenedor{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}

.carta{
    flex-direction: column;
    text-align: center;
    background-color: white;
    width: 80%;
}

.carta img{
    width: 50%;
    padding: 10px;
}

.nombre{
    font-size: 25px;
}

.carta button{
    background-color: rgb(84, 96, 165);
    color: white;
    height: 40%;
    font-size: 19px;
    width: 100%;
}

footer{
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: white;
    margin: 0px;
    height: 40px;
}

footer p{
    margin: 0px;
    padding: 10px;
}

@media (max-width: 576px) {
    #contenedor{ 
        grid-template-columns: 1fr 
    }
    .carta{
        flex-direction: column;
        text-align: center;
        background-color: white;
        width: 70%;
    }
    #menu{
        flex-direction: column;
        padding-right: 10%;
    }
    }


@media (min-width: 768px) {
    #contenedor { grid-template-columns: 1fr 1fr 1fr }
    }
    